<hr/>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <% if (theme.twitter_url) { %>
                    <li>
                        <a href="<%- theme.twitter_url %>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <% } %>

                    <% if (theme.facebook_url) { %>
                    <li>
                        <a href="<%- theme.facebook_url %>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <% } %>

                    <% if (theme.github_url) { %>
                    <li>
                        <a href="<%- theme.github_url %>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <% } %>

                    <% if (theme.linkedin_url) { %>
                    <li>
                        <a href="<%- theme.linkedin_url %>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <% } %>

                    <% if (theme.mailto) { %>
                    <li>
                        <a href="mailto:<%- theme.mailto %>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <% } %>

                    <% if (theme.gitlab_url) { %>
                    <li>
                        <a href="<%- theme.gitlab_url %>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <% } %>
                </ul>
                <p class="copyright text-muted">@ <%= config.since %> - <span id="endDate"></span> Qiang He</p>
                <p class="copyright text-muted">友情链接
                    <a href="http://kunl.github.io/"
                       target="_blank">Kunl</a>
                </p>
                <p class="copyright text-muted">Adapted for <a target="_blank" href="https://hexo.io/">Hexo</a> by <a
                            href="http://www.codeblocq.com/" target="_blank">Jonathan Klughertz</a></p>
                <p class="copyright text-muted">
                    <script type="text/javascript">
                        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                        document.write(unescape("%3Cspan id='cnzz_stat_icon_1261147731'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1261147731%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
                        var endDate = moment().format('YYYY');
                        document.getElementById('endDate').innerText = endDate;
                    </script>
                </p>
            </div>
        </div>
    </div>
    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
    </script>
</footer>
